.postbox {
    width: 780px;
    height: 600px;
}
.postbox .inside {
width: 600px;
}
.card {
    width: auto;
height: 450px;
}
#jituu {
    .app-title {
        font-size: 1.5em;
      
        margin-bottom: 1em;
    }
}